.players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.players .wrapper {
    max-width: 1200px;
    margin: 1rem
}

.players .element {
    margin: 2rem 0;
}