

.player-form-content {
    margin: 0 auto;
    width: 40%;
    height: 0;
    max-width: 1200px;
    padding: 1.5rem 1.5rem 0 1.5rem;
    background-color: rgb(63, 63, 63);
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    transform: scaleY(0);
    transform-origin: top;
}

.player-form-content.active {
    transform: scaleY(1);
    height: auto;
    margin-bottom: 200px;
}

.player-form-content .player-form-inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.player-form-content .player-form-inputs .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.player-form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 0 0 10px 0;
    transform: scaleY(0);
    transform-origin: top left;
    transition: all 0.3s ease-in-out;
    margin-right: 1rem;
}

.player-form-content.active .player-form-input {
    transform: scaleY(1);
}



.player-form-input input {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    color: #fff;
    /* font-size: 1.2rem; */
    transition: all 0.3s ease-in-out;
}

#image-label {
    display: flex;
    margin: 0.5rem 0 0 0.5rem;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

}

#image-label h3 {
    transition: all 0.1s ease-in-out;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 0.5rem;
}

#image-label:hover {
    opacity: 0.5;
}

#image {
    display: none;
}

.submit-button {
    margin-top: 2rem;
}

.submit-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    border-radius: 50%;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    background-color: #2dc96b;
    transition: all 0.2s ease-in-out;
    transform: translateY(-0.25rem);
}

.submit-button button:hover {
    transform: translateY(0.5rem);
    background-color: #71eca2;
}

/* Media query for under 800px */
@media screen and (max-width: 800px) {

    .player-form-content {
        width: 80%;
    }
}