

.wrapper {
    aspect-ratio: 2/3;
    width: 300px;
    background-color: rgb(115, 245, 115);
    border-radius: 10px;
    position: relative;
    margin: 0;
}

.player-card-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(97, 97, 228);
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.wrapper:hover .player-card-container {
    transform: rotateY(180deg);
}   

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    background-color: #ff6262;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    background-color: #62ff79;
    transform: rotateY(180deg);
}